@tailwind base;
@tailwind components;
@tailwind utilities;



*, *::before , *::after {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.transisi {
  transition: .5s ease all;
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -ms-transition: .5s ease all;
  -o-transition: .5s ease all;
}
.imgAnimeList {
    width: 100%;
    height: auto;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
}
.scaleComponent {
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}
.scaleComponent:hover {

  scale: 104% ;
}

.imgAnimeList:hover {
    scale: 104%;

}
 

.foto {
    width: 300px ;
    height: 400px;
}


@media (min-width: 768px) {
    .cardPicture {
        max-height: 100% ;
    }
}


.loader {
    width: 48px;
    height: 48px;
    position: relative;
  }
  .loader::before , .loader::after{
    content: 'Loading';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 48em;
    height: 48em;
    background-image:
      radial-gradient(circle 10px, #10eded
 100%, transparent 0),
      radial-gradient(circle 10px, #10eded
 100%, transparent 0),
      radial-gradient(circle 10px,#10eded
 100%, transparent 0),
      radial-gradient(circle 10px,#10eded
 100%, transparent 0),
      radial-gradient(circle 10px,#1236d4
 100%, transparent 0),
      radial-gradient(circle 10px, #1236d4
 100%, transparent 0),
      radial-gradient(circle 10px, #1236d4
 100%, transparent 0),
      radial-gradient(circle 10px, #1236d4
 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                         13em -13em, -13em -13em, 13em 13em, -13em 13em;
      background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
  }
  .loader::after {
    font-size: 1px;
    background: #12b7d4;
    animation: bounce 0.5s ease-in infinite;
    -webkit-animation: bounce 0.5s ease-in infinite;
}
  
  @keyframes bounce {
    0% , 100%{ font-size: 0.75px }
    50% { font-size: 1.5px }
  }
  @keyframes blast {
    0% , 40% {
      font-size: 0.5px;
    }
    70% {
      opacity: 1;
      font-size: 4px;
    }
     100% {
       font-size: 6px;
      opacity: 0;
    }
  }


  .custom {
    height: 89vh ;
  }

  .gambarLatar {
    padding-top: 80px;
    width: 100%;
   
  }

  @media (min-width: 768px) {
    .gambarLatar {
      padding: 0px;
      position: absolute;
      z-index: -1;
      right: 0;
      
      width: 50%;
      
    }
}

@media (max-width: 768px) {
  /* Mengubah lebar kotak menjadi setengah layar */
  .half-width, .sixth-width {
    width: 50%;
  }
  /* Menampilkan dua item di setiap slide */
  .carousel .slider-wrapper {
    --items-to-show: 3;
  }
}

.kebelakang {
  width: 100%;
  background-image: url("https://i.bandori.party/u/c/art/2094Hina-Hikawa-Cool-For-Those-of-Us-Spreading-Our-Wings-oxdmtb.png");
  background-position-x: 60%;
  background-position-y: 40%;
}

@media (min-width: 768px) {
  .kebelakang {
   
    
    background-repeat: no-repeat;
   background-size: 130%;
   
    background-position-x: 8%  ;

    padding: 0px;
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
    height: 800px;
  }
  .bgHeaderPopuler {
    background-repeat: no-repeat;
   background-size: 150%;

    background-position-y: 2% ;
    padding: 0px;
    z-index: -1;
    width: 100%;
  
  }

  .bgLogin {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
    background-position-x: 50% ;
    background-position-y: 50% ;
  
     padding: 0px;
     z-index: -1;
     padding: 0px;
     width: 100%;
     
  }

}

.backgroundTransparan {
  background-color: rgba(0, 0, 0, 0.386); 
  width: 100%;
  height: 100%;
}
.backgroundTransparan2 {
  background-color: rgba(20, 4, 38, 0.491); 
 width: 100%;
  height: 100% 
}
.bgHitamTransparan {
  background-color: rgba(19, 17, 17, 0.692);
  width: 100%;
  height: 100%;
}

.mtCustom {
  margin-top: 500px;
}
.bgHeaderPopuler {
  width: 100%;
  background-image: url("https://i.bandori.party/u/c/art/a/4270Nanami-Hiromachi-Cool-Words-That-I-Want-to-Deliver-fXCQFG.png");
  background-position-x: 60%;
  background-position-y: 4%;
}

.bgLogin {
  background-image: url(https://i.bandori.party/u/c/art/a/4286Soyo-Nagasaki-Happy-The-Calm-Mediator-7B3cl3.png);
  width: 100%;
  background-position-x: 20% ;
  
}

.widthCustom {
  width: 500px;
}

.gradientWarna {
  background-color: #0d0a0b;
  background-image: linear-gradient(147deg, #0d0a0b 0%, #124253 74%);

  
  
}

.gradientWarna2{
background-color: #0d0a0b;
background-image: linear-gradient(147deg, #0d0a0b 0%, #122432 74%);
}

.bgKeqing {
  background-image: url(../libs/foto/BannerKeqing.jpg);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position-y: 50%;
  background-position-x: 82% ;

  
  }


  @media (min-width: 768px) {
.bgKeqing {
  background-image: url(../libs/foto/BannerKeqing.jpg);
    background-repeat: no-repeat;
    background-size: 118%;
  background-position-x: 0%;

}

  }

  .bg-primary {
    background-color: #1a202c;
  }
  
  .bg-primary-dark {
    background-color: #171923;
  }
  
  .text-label {
    color: #ffffff;
  }
  
  .text-label-dark {
    color: #f7fafc;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  /* Gaya untuk grid */
  .gridAnimasi {
    animation: fadeInUp 1s ease-out;
    -webkit-animation: fadeInUp 1s ease-out;
}
  

  
 