@tailwind base;
@tailwind components;
@tailwind utilities;



*, *::before , *::after {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.imgAnimeList {
    width: 100%;
    height: auto;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}


.imgAnimeList:hover {
    scale: 104%;

}
 

.foto {
    width: 300px ;
    height: 400px;
}


@media (min-width: 768px) {
    .cardPicture {
        max-height: 100% ;
    }
}


.loader {
    width: 48px;
    height: 48px;
    position: relative;
  }
  .loader::before , .loader::after{
    content: 'Loading';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 48em;
    height: 48em;
    background-image:
      radial-gradient(circle 10px, #10eded
 100%, transparent 0),
      radial-gradient(circle 10px, #10eded
 100%, transparent 0),
      radial-gradient(circle 10px,#10eded
 100%, transparent 0),
      radial-gradient(circle 10px,#10eded
 100%, transparent 0),
      radial-gradient(circle 10px,#1236d4
 100%, transparent 0),
      radial-gradient(circle 10px, #1236d4
 100%, transparent 0),
      radial-gradient(circle 10px, #1236d4
 100%, transparent 0),
      radial-gradient(circle 10px, #1236d4
 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                         13em -13em, -13em -13em, 13em 13em, -13em 13em;
      background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
  }
  .loader::after {
    font-size: 1px;
    background: #12b7d4;
    animation: bounce 0.5s ease-in infinite;
    -webkit-animation: bounce 0.5s ease-in infinite;
}
  
  @keyframes bounce {
    0% , 100%{ font-size: 0.75px }
    50% { font-size: 1.5px }
  }
  @keyframes blast {
    0% , 40% {
      font-size: 0.5px;
    }
    70% {
      opacity: 1;
      font-size: 4px;
    }
     100% {
       font-size: 6px;
      opacity: 0;
    }
  }


  .custom {
    height: 89vh ;
  }

  .gambarLatar {
    padding-top: 80px;
    width: 100%;
   
  }

  @media (min-width: 768px) {
    .gambarLatar {
      padding: 0px;
      position: absolute;
      z-index: -1;
      right: 0;
      width: 50%;
      height: 100%;
    }
}
